.container {
  width: 72%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  font-family: 'Lobster', cursive;
  

}


body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7.9rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 90%;
}

footer {
  margin-top: 6%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
